:root:not(.daynight-night) {
  /* --bg: #f6f5f3; */
  --bg: #fff;
  --bg-rgb: 255, 255, 255;
  --text: #000;
  --text-rgb: 0, 0, 0;
  --gray: #bbbbbb;
  --gray-rgb: 187, 187, 187;
  --icon-gray: #888;
  --icon-gray-rgb: 136, 136, 136;
  --link: #3641cc;
  --link-rgb: 54, 65, 204;
  --link-visited: #743787;
  --link-visited-rgb: 116, 55, 135;
  --link-hover: #c83700;
  --link-hover-rgb: 200, 55, 0;
}
@media (prefers-color-scheme: dark) {
  :root:not(.daynight-day) {
    --bg: #000;
    --bg-rgb: 0, 0, 0;
    --text: #e2e2e2;
    --text-rgb: 226, 226, 226;
    --gray: #7a7a7a;
    --gray-rgb: 122, 122, 122;
    --icon-gray: #bbb;
    --icon-gray-rgb: 187, 187, 187;
    --link: #61d2ff;
    --link-rgb: 97, 210, 255;
    --link-visited: #f4a8ff;
    --link-visited-rgb: 244, 168, 255;
    --link-hover: #ff6a30;
    --link-hover-rgb: 255, 106, 48;
  }
}
:root.daynight-night {
  --bg: #000;
  --bg-rgb: 0, 0, 0;
  --text: #e2e2e2;
  --text-rgb: 226, 226, 226;
  --gray: #7a7a7a;
  --gray-rgb: 122, 122, 122;
  --icon-gray: #bbb;
  --icon-gray-rgb: 187, 187, 187;
  --link: #61d2ff;
  --link-rgb: 97, 210, 255;
  --link-visited: #f4a8ff;
  --link-visited-rgb: 244, 168, 255;
  --link-hover: #ff6a30;
  --link-hover-rgb: 255, 106, 48;
}

@font-face {
  font-family: 'font';
  src: url('./font.ttf');
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}

body {
  padding: 20px 40px 60px 30px;
  /* min-width: 730px; */
  margin: 0;
  font-size: 1rem;
  line-height: 1.33333;
  font-family: 'font', monospace;
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.12s ease-out, border-color 0.12s ease-out;
}
a:visited {
  color: var(--link-visited);
}
a:hover, a.hover {
  color: var(--link-hover);
  transition: color 0s, border-color 0s;
}

p {
  margin: 0 0 .75em 0;
}


/* HEADER */
.header {
  position: relative;
}

.page_title {
  position: relative;
  margin: 5px 0 11px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.chords_number {
  position: absolute;
  top: 2.75rem;
  font-size: 0.3em;
  line-height: 1em;
  color: var(--gray);
}

.sorting_toggler{}
.sorting_toggler span:not(.active) {
  color: var(--link);
  cursor: pointer;
  font-weight: 200;
}
.sorting_toggler span:not(.active):hover {
  color: var(--link-hover);
}
.sorting_toggler span.active {
  pointer-events: none;
}

.abc_index {
  font-size: 1.25rem;
  font-weight: 500;
}
  .abc_index ul {
    margin: 0 -.5em -1rem;
    padding: 0;
    list-style-type: none;
  }
  .abc_index ul li {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .abc_index ul li a {
    padding: .5em;
  }
  .abc_index ul li a:not(:hover) {
    color: var(--gray);
  }


/* LIST */
dl.content_contents {
  margin-top: 4em;
}
dl.content_contents li a {
  padding: 5px 0;
}

dt {
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 0.2em;
  color: var(--gray);
}
  dt > a {
    padding: 0.5em;
    margin: -0.5em;
  }
  dt > a:not(:hover) {
    color: var(--gray);
  }

dd {
  margin-left: 44px;
  margin-bottom: 24px;
}

body.sorting-album dt {
  margin-left: 140px;
  color: var(--text);
}
body.sorting-album dt .albumyear {
  color: var(--gray);
}
body.sorting-album dt .albumart {
  position: absolute;
  display: block;
  height: 116px;
  margin-left: -140px;
  margin-bottom: 1rem;
  user-select: none;
}
body.sorting-album dd {
  margin-left: 140px;
  min-height: 76px;
  margin-top: 2em;
  margin-bottom: 2em;
}
body.sorting-album .tracknum {
  display: inline-block;
  width: 1.2em;
  text-align: right;
  color: var(--gray);
  margin-right: 0.6em;
}

dl.content_contents ul {
  padding: 0;
  margin: 0;
  max-width: 75em;
  column-gap: 3em;
  column-width: 36em;
}

dl.content_contents li {
  padding: 0;
  margin: 0 0 .5em 0;
  list-style: none;
  break-inside: avoid;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--gray-rgb), .5);
  overflow: auto;
}
.modal-content {
  width: 90vw;
  max-width: 80em;
  margin: 4em auto 6em;
  padding: 4em 6em 6em 5em;
  font-size: 11px;
  background: var(--bg);
  outline: none;
  user-select: auto;
}
.chords_text {
  white-space: pre-wrap;
}

body.modal-lock {
  overflow: hidden;
}
body.modal-lock .content,
body.modal-lock .content *
{
  color: var(--gray) !important;
  border-color: currentColor !important;
  transition: none !important;
  user-select: none;
}
body.modal-lock .content img {
  filter: opacity(.5) contrast(.5) grayscale(1);
}


/* MODAL CONTENT */
.modal-content .track_starred-star {
  display: none;
}

.modal-content ul.albumlist {
  padding: 0;
  margin: 0em 0 2em;
}
.modal-content li.album {
  display: inline;
  margin: 0;
  padding: 0;
}
.modal-content .album::before {
  content: '\2299';
  position: relative;;
  font-size: 1.5em;
  margin-right: .25em;
  margin-left: -0.2125em;
  bottom: -.5px;
  color: var(--icon-gray);
}

.modal-content .tracktitle {
  margin-bottom: 0;
}
.modal-content .tracktitle-alt {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
.modal-content .tracktitle-alt::before {
  content: '=';
  display: inline-block;
  text-align: right;
  width: .6em;
  margin-left: -.9em;
  margin-right: .3em;
  color: var(--gray);
}

.modal-content .year {
  margin-top: 2em;
  color: var(--icon-gray);
}


.day-night-switch {
  position: absolute;
  right: -20px;
  top: 7px;
  width: 20px;
  height: 20px;
  mask-image: url(./day-night-icon.svg);
  mask-size: cover;
  mask-position: center;
  cursor: pointer;
  color: var(--gray);
  background-color: currentColor;
}
.day-night-switch.night {
  mask-position: center right;
  color: var(--text);
}
.day-night-switch.day {
  mask-position: center left;
  color: var(--text);
}


#scroll-border {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 20px);
  left: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  box-sizing: border-box;
  background-clip: content-box;
  border: 20px solid transparent;
  background: rgba(var(--link-rgb), .1);
}


.signal {
  animation-name: 'signal';
  animation-fill-mode: none;
  animation-duration: 1s;
}
@keyframes signal {
  10% {
    color: var(--link-hover);
    text-shadow: 0 0 2px currentColor;
  }
}


@media screen and (max-width: 730px) {
  body {}
  dd {
    margin-left: 1.8rem;
  }
  body.sorting-album dt {
    margin-left: 0;
  }
  body.sorting-album dt .albumart {
    position: relative;
    margin-left: 0;
  }
  body.sorting-album dd {
    margin-left: 0;
  }
  .modal-content {
    padding: 2rem 1rem 3rem 2rem;
  }
}